@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  --font-libre: 'Libre Baskerville', serif;
  --mango-sorbet: #ffa857;
  --salmon: #ff6b57;
  --light-pink: #ff99ff;
  --lightest-pink: #efc9ef;
  --hot-pink: #f0415f;
}
